@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #1f2937;
  color: white;
  padding: 16px 96px 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.logo a:hover {
  color: lightblue;
}

.links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.links a:hover {
  color: lightblue;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    margin: 48px 0;
    flex: 1;
}

.presentation img {
    width: 300px;
    height: 150px;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.presentation button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 4px 24px;
    margin-top: 8px;
    border: none;   
}

.presentation button a {
    text-decoration: none;
    color: white;
}

.presentation button:hover{
    color:#3882f6;
    background-color: white;
    cursor: pointer;
}
