@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */

header,
footer {
  background-color: #1f2937;
  color: white;
  padding: 12px 96px 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.logo a:hover {
  color: lightblue;
}

.links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.links a:hover {
  color: lightblue;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    margin: 48px 0;
    flex: 1;
}

.presentation img {
    width: 300px;
    height: 150px;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.presentation button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 4px 24px;
    margin-top: 8px;
    border: none;   
}

.presentation button a {
    text-decoration: none;
    color: white;
}

.presentation button:hover{
    color:#3882f6;
    background-color: white;
    cursor: pointer;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

.sect1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 16px 200px 48px;
}

.sect1 h2 {
    text-align: center;
    font-size: 36px;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: center;
    align-items: start;
    gap: 40px;
    text-align: center;
}

.info .imgs {
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    min-width: 100px;
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.info1 a {
    text-decoration: none;
    color: black;
}

.employees {
    background-image: url("../images/jake-nackos-IF9TK5Uy-KI-unsplash.jpg");
    background-size: cover;
}

.products {
    background-image: url("../images/fahad-waseem-AdjyrNhFVPI-unsplash.jpg");
    background-size: cover;
}

.paymentMethods {
    background-image: url("../images/lukasz-radziejewski-Zk5Kf3nVjQQ-unsplash.jpg");
    background-size: cover;
}

.where {
    background-image: url("../images/stale-grut-bjqw7-Jl1N0-unsplash.jpg");
    background-size: cover;
}

.info .imgs img {
    width: 100px;
    height: 100px;
}

.sect2 {
    padding: 60px 200px;
    background-color: #e5e7eb;
}

.sect2 blockquote {
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    color:#1f2937;
}

.sect2 p {
    position: absolute;
    right: 200px;
}

.sect3 {
    padding: 40px 96px;
}

.sect3 .btn-box {
    width: auto;
    background-color: #3882f6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 200;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
}

.sect3 .btn-box a button{
    border: 1px solid white;
    cursor: pointer;
    padding: 6px 18px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.sect3 .btn-box a button:hover {
    background-color: white;
    color: #3882f6;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}