* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*---------- HEADER ----------*/

header {
    background-color: #1f2937;
    padding-bottom: 4rem;
}

nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    list-style: none;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar ul li a,
.title-left .text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo a {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-decoration: none;
}

.logo img {
    width: 30px;
}

.title {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-left .heading {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title-left .heading span {
    font-weight: 400;
    font-style: italic;
}

.title-left .btn {
    background-color: #3882f6;
    padding: 8px;
    border: none;
    width: 100px;
    border-radius: 10px;
    color: #f9faf8;
    cursor: pointer;
}

.title-left .btn:hover {
    opacity: .9;
    color: white;
}

.title img {
    width: 500px;
    height: 230px;
    object-fit: cover;
}